body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8d8d8;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

h1 {
    margin-bottom: 10px;
}

p {
    color: #555;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    opacity: 0;  /* Anfangs unsichtbar */
    visibility: hidden; /* Anfangs unsichtbar */
    transform: translate(-50%, -50%) scale(0.8); /* Anfangs etwas kleiner */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s ease-out;
}

.popup.show {
    opacity: 1;
    visibility: visible;  /* Popup sichtbar machen */
    transform: translate(-50%, -50%) scale(1); /* Normale Größe */
}

.popup-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

#jahrgangLabel {
    color: #333; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    margin-bottom: 8px; 
    display: block;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;  
    }

    .container {
        width: 90%; 
        padding: 15px;  
    }

    h1 {
        font-size: 20px; 
    }

    p {
        font-size: 14px;  
    }

    button {
        font-size: 14px; 
        padding: 8px 16px; 
    }

    .popup {
        width: 80%;  
        padding: 15px;  
        transform: translate(-50%, -50%) scale(0.9);  
    }

    .popup-content input {
        padding: 6px; 
        font-size: 14px; 
    }

    #jahrgangLabel {
        font-size: 12px;  
    }

    .close {
        font-size: 18px;  
    }
}
